@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-weight: 400;
  src:
    /* IE6-IE8 */
    url("../fonts/mulish-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/mulish-v13-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-weight: 600;
  src:
    url("../fonts/mulish-v13-latin-600.woff2") format("woff2"),
    url("../fonts/mulish-v13-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-weight: 700;
  src:
    url("../fonts/mulish-v13-latin-700.woff2") format("woff2"),
    url("../fonts/mulish-v13-latin-700.woff") format("woff");
}

body {
  font-family: "Mulish", "Arial", sans-serif;
}
