@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-weight: 400;
  src:
    url("./assets/fonts/mulishregular.woff2") format("woff2"),
    url("./assets/fonts/mulishregular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-weight: 600;
  src:
    url("./assets/fonts/mulishsemibold.woff2") format("woff2"),
    url("./assets/fonts/mulishsemibold.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-weight: 700;
  src:
    url("./assets/fonts/mulishbold.woff2") format("woff2"),
    url("./assets/fonts/mulishbold.woff") format("woff");
}

body {
  font-family: "Mulish", "Arial", sans-serif;
  background-color: #f7f8fc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.w-6 {
  background-image: url("./assets/images/plus.svg");
}

.urgent {
  background-color: #fec400;
}

.new {
  background-color: #29cc97;
}

.default {
  color: #9fa2b4;
  background-color: #f0f1f7;
}
